

<section class="container-spinner center-vertical-horizontal"
         *ngIf="this.isLoadingQuestions; else cardTrivia">
  <ion-spinner

    name="crescent"
    >

  </ion-spinner>
</section>
<ng-template #cardTrivia>
  <ion-card class="ion-text-center ion-text-wrap center-vertical" color="Medium">

    <!--Result-->
    <ion-card-content *ngIf="showResults; else questions">
      <p>Total questions {{this.totalQuestions}}</p>
      <p>Correct {{this.questionsCorrect}}</p>

      <p>Incorrect {{this.questionsIncorrect}}</p>
      <ion-button
        expand="full"
        size="large"
        color="warning"
        (click)="this.playAgain()">
        Play again</ion-button>
    </ion-card-content>

    <!--Card Questions - Trivia -->
    <ng-template #questions>
      <ion-card-header >
        <ion-card-subtitle>{{trivia?.questions[this.questionActual].category}}</ion-card-subtitle>
        <ion-card-title class="ion-text-justify">{{trivia?.questions[this.questionActual].question}}</ion-card-title>
      </ion-card-header>

      <section class="full-width ion-text-center ">
        <ion-button

          [appCorrectIncorrect]="{isCorrect: this.trivia?.questions[this.questionActual].isCorrect(answer)}"
          *ngFor="let answer of this.trivia?.questions[this.questionActual].allAnswers"
          expand="block"
          color="dark"
          size="large"
          (click)="this.answerQuestion(answer)">
          <span
            [ngClass]="{'card-button-warp': this.answer.length > 28}"
          >{{answer}}</span>
        </ion-button>

      </section>
      <ion-card-content>
        <ion-card-subtitle>Questions: {{this.questionActual + 1 }} of {{this.totalQuestions}}</ion-card-subtitle>
        <p>Correct: {{this.questionsCorrect}}</p>

        <p>Incorrect: {{this.questionsIncorrect}}</p>
      </ion-card-content>
    </ng-template>

  </ion-card>
</ng-template>
