

<ion-card>
  question actual {{this.questionActual}}
  <br>
  Correct {{this.questionsCorrect}}
  <br>
  Incorrect {{this.questionsIncorrect}}

  <ion-card-header *ngIf="!this.showResults">
    <ion-card-subtitle>{{trivia?.questions[this.questionActual].category}}</ion-card-subtitle>
    <ion-card-title>{{trivia?.questions[this.questionActual].question}}</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="showResults; else questions">
    Total questions{{this.totalQuestions}}
    <br>
    Correct {{this.questionsCorrect}}
    <br>
    Incorrect {{this.questionsIncorrect}}
    <ion-button color="accent" (click)="this.playAgain()"> Play again</ion-button>
  </ion-card-content>


  <ng-template #questions>
    <ion-item

      class="ion-activated"
      *ngFor="let answer of this.trivia?.questions[this.questionActual].allAnswers">
      <!--    <ion-icon name="wifi" slot="start"></ion-icon>-->
<!--      <ion-label (click)="this.answerQuestion(answer)">{{answer}}</ion-label>-->
      <p (click)="this.answerQuestion(answer)">{{answer}}</p>
    </ion-item>
  </ng-template>


</ion-card>
