#play-button{
  //padding: 4rem;
  ion-icon{
    margin-right: 1rem;
  }

}

.container-play{
  //background-color: lightblue;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
