<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trivia kS
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="main-container">

  <section id="container">
    <ion-card>
      <ion-card-header>
        <ion-title>Choose the option you prefer</ion-title>
        <ion-button

          expand="full"
          size="large"
          color="warning"
          (click)="this.goToGame()">
          Play
        </ion-button>
        <ion-button

          expand="full"
          size="large"
          color="light"
          (click)="this.login()">
          LogIn
        </ion-button>
        <ion-card-content>

        </ion-card-content>
      </ion-card-header>
    </ion-card>
    <section>
      <ion-card>

        <ion-item>
          <ion-label>Categories</ion-label>
          <ion-select
            interface="action-sheet"

            [(ngModel)]="this.selectCategory"
            (ionChange)="this.getCategorySelected()">
            <ion-select-option
              class="ion-text-wrap"

              [value]="category.id"
              *ngFor="let category of this.categories">
              {{category.name}}
            </ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Number of questions</ion-label>
          <ion-select
            interface="action-sheet"
            [(ngModel)]="this.selectNumQuestions"
            (ionChange)="this.getNumQuestions()">
            <ion-select-option
              class="ion-text-wrap"

              [value]="num"
              *ngFor="let num of this.numQuestions">
              {{num}}
            </ion-select-option>

          </ion-select>
        </ion-item>

      </ion-card>
    </section>
  </section>


</ion-content>

